{{ define "main" }}
    <main class="max-h-3/4 shrink flex flex-col *:max-w-full *:w-screen max-w-5/6">
    {{ partial "menorah" . }}
    {{ with .Site.GetPage "/headless" }}
    <div class="shrink-0 grow-0 text-center">
        <h1 class="text-5xl font-bold light:text-midnight-green dark:text-antique-white my-4">
            {{ if gt .Params.dayOfHanukkah 0 }}
                {{ lang.Translate "yes" }}
            {{ else }}
                {{ lang.Translate "no" }}
            {{ end }}
        </h1>
        <p class="text-2xl text-center">
        {{ if .Params.isHanukkah }}
            {{ lang.Translate "todayIsThe" .Params.ordinalDay }}
        {{ else }}
            {{ if .Params.isBefore }}
                {{ lang.Translate "hanukkahStartsOn" .Params.startDate }}
            {{ else }}
                {{ lang.Translate "hanukkahEndedOn" .Params.endDate }}
            {{ end }}
        {{ end }}    
        </p>
    </div>
    {{ end }}
    </main>
{{ end }}
