<meta ctharset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="twitter:title" content="{{ .Site.Title }}" />
<meta itemprop="name" content="{{ .Site.Title }}" />
<meta name="application-name" content="{{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<meta name="description" content="{{ .Site.Params.description }}" />
<meta itemprop="description" content="{{ .Site.Params.description }}" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta name="twitter:description" content="{{ .Site.Params.description }}" />

<base href="{{ .Permalink }}" />
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<meta property="og:locale" content="{{ .Language.Lang }}" />
<meta name="language" content="{{ .Language.LanguageName }}" />
{{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}" />
{{ end }}

<meta property="og:article:author" content="Alex Karp" />
<meta property="article:author" content="Alex Karp" />
<meta name="author" content="Alex Karp" />

{{ with .Params.image }}
  <meta itemprop="image" content="{{ . | absURL }}" />
  <meta property="og:image" content="{{ . | absURL }}" />
  <meta name="twitter:image" content="{{ . | absURL }}" />
  <meta name="twitter:image:src" content="{{ . | absURL }}" />
{{ else }}
  <meta itemprop="image" content="{{ .Site.Params.ogImage | absURL }}" />
  <meta property="og:image" content="{{ .Site.Params.ogImage | absURL }}" />
  <meta name="twitter:image" content="{{ .Site.Params.ogImage | absURL }}" />
  <meta name="twitter:image:src" content="{{ .Site.Params.ogImage | absURL }}" />
{{ end }}

<meta property="og:updated_time" content={{ time.Now | time.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

<link rel="sitemap" type="application/xml" title="Sitemap" href='{{ "sitemap.xml" | absURL }}' />

