@import "tailwindcss";

@variant light (@media (prefers-color-scheme: light));

@theme {
	--color-english-violet: oklch(37.76% 0.0738 324.5);
    --color-rose-quartz: oklch(82.78% 0.0642 353.18);
    --color-antique-white: oklch(95.76% 0.0311 70.53);
    --color-raspberry-rose: oklch(50.79% 0.1474 1.26);

    --color-lemon-chiffon: oklch(95.6% 0.0651 98.98);
    --color-black: oklch(0% 0 0);
    --color-midnight-green: oklch(41.66% 0.0578 206.86);
    --color-eggplant: oklch(33.39% 0.0489 342.96);

    --color-flame-normal: oklch(97.21% 0.0658 101.01);
	--color-flame-light: oklch(79.27% 0.1709 70.67);

	--color-primary: var(--color-english-violet);

	--flame-1-delay: 0;
	--flame-2-delay: 0.2;
	--flame-3-delay: 0.4;
	--flame-5-delay: 0.25;
	--flame-6-delay: 0.2;
	--flame-7-delay: 0.7;
	--flame-8-delay: 0.25;
	--flame-shamash-delay: 0.1;

	--wind-left: -10deg;
	--wind-right: 10deg;
	--font-text-base: 24px;

	--menorah: 3 / span 10;
}

html, body {
	width: 100%;
	height: 100%;
	max-height: 100vh;
	font-family: "Avenir", "Helvetica Neue", sans-serif;
	font-size: calc(15px + 0.390625vw);
}

.candle-flame {
	animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
	transform-origin: bottom center;
	transform-box: fill-box;
	animation-name: flameSkew;
}

#Flame1 .candle-flame {
	animation-delay: var(--flame-1-delay);
}

#Flame2 .candle-flame {
	animation-delay: var(--flame-2-delay);
}

#Flame3 .candle-flame {
	animation-delay: var(--flame-3-delay);
}

#Flame4 .candle-flame {
	animation-delay: var(--flame-4-delay);
}

#Flame5 .candle-flame {
	animation-delay: var(--flame-5-delay);
}

#Flame6 .candle-flame {
	animation-delay: var(--flame-6-delay);
}

#Flame7 .candle-flame {
	animation-delay: var(--flame-7-delay);
}

#Flame8 .candle-flame {
	animation-delay: var(--flame-8-delay);
}

#FlameShamash .candle-flame {
	animation-delay: var(--flame-shamas-delay);
}

@keyframes flameSkew {
	0% { transform: skewX(0); }
	33% { transform: skewX(10deg); }
	66% { transform: skewX(-10deg); }
	100% { transform: skewX(0); }
}