<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="icon" type="image/x-icon" href="/favicon.svg">
{{ partialCached "head/meta.html" . }}
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<!-- Privacy-friendly analytics by Plausible -->
<script async src="https://analytics.alexkarp.dev/js/pa-p_6pS8xECs7kDYOW5BbZ6.js"></script>
<script>
  window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
  plausible.init()
</script>

